<h1>
    <%= gravatar_for @user %>
    
    <%= @user.name %>
</h1>
<ul>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </li>
    <li>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </li>>
    <li>
        <%= f.label :profile %>
        <%= f.text_field :profile %>
    </li>
    <li>
        <%= f.label :age %>
        <%= f.text_field :age %>
    </li>
    <li>
        <%= f.label :hobby %>
        <%= f.text_field :hobby %>
    </li>
    <li>
        <%= f.label :password %><div style="margin-bottom:10px;">if you want to change your password, please input it.</div>
        <%= f.password_field :password %>
    </li>
    <li>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
    </li>
    <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
</ul>

