<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>        
        </section>
    </aside>
    <div class="col-md-8 followings-wrapper">
        <h2><%= @user.name %>のフォロワー</h2>
        <ul>
            <% @user.follower_users.each do |follower| %>
                <li class="clearfix">
                    <div class="followings-avatar clearfix">
                        <%= gravatar_for follower %>
                    </div>
                    <div class="followings-name">
                        <%= follower.name %>
                    </dis>
                    <!--
                    <div id="follow_form">
                        <% if current_user.following?(follower) %>
                            <%= 
                                form_for(current_user.following_relationships.find_by(followed_id: follower.id), html: {method: :delete}, remote: true) do |f| 
                            %>
                            <%= f.submit "UnFollow", class: "btn" %>
                            <% end %>
                        <% else %>
                            <%= form_for(current_user.following_relationships.build, remote: true) do |f| %>
                                <div>
                                    <%= hidden_field_tag :followed_id, follower.id %>
                                </div>
                                <%= f.submit "Follow", class: "btn btn-primary" %>
                            <% end %>
                        <% end %>
                    </div>
                    -->
                </li>
            <% end %>
        </ul>
    </div>
    <ul class="row profile-wrapper">
        <li>年齢：<%= @user.age %></li>
        <li>プロフィール：<%= @user.profile %></li>
        <li>趣味：<%= @user.hobby %></li>
    </ul>
    <% if(@user == current_user) %>
        <div>
            <%= link_to "edit profile", edit_user_path(current_user) %>
        </div>
    <% end %>
    <div>
        <%= link_to "followings", followings_path(@user.id) %>
    </div>
    <div>
        <%= link_to "followers", followers_path(@user.id) %>
    </div>
</div>