<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>        
        </section>
    </aside>
    <div class"=col-md-8">
        <%= @user.follower_relationships.follower_users.each do |follower| %>
            <%= gravatar_for follower %>
            <%= follower.name %>
            <%= render 'folglow_form' if logged_in? %>
        <% end %>
    </div>
    <ul class="row profile-wrapper">
        <li>年齢：<%= @user.age %></li>
        <li>プロフィール：<%= @user.profile %></li>
        <li>趣味：<%= @user.hobby %></li>
    </ul>
    <% if(@user == current_user) %>
    <div><%= link_to "edit profile", edit_user_path(current_user) %></div>
    <% end %>
</div>